body
    height: 100vh

.center-content
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    height: 100%
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center

.center-horizontal
    margin: 0 auto

